/**
 * @name Compact Settings
 * @description Compacts several menus in User Settings
 * @version 1.0.3
 * 
 * @author Fayne Aldan
 * @authorLink https://github.com/FayneAldan
 * 
 * @source https://github.com/FayneAldan/CompactSettings
 * @updateUrl https://faynealdan.github.io/CompactSettings/dist/CompactSettings.theme.css
 */

$inline: false;

$side: ".side-2ur1Qk";
$tab: ".item-3XjbnG";

#{$side} {
  display: block;
}

@if $inline {
  #{$tab} {
    display: inline-block;
    border: 1px solid var(--button-outline-primary-border);
    margin-right: 5px;
  }
  div[aria-controls="library-inventory-tab"] > div > div,
  .item-3XjbnG svg,
  .tabBarItemContainer-2HdIlr div {
    margin-left: 0.5em;
  }
} @else {
  // @import url("https://crearts-community.github.io/Settings-Icons/clients/powercord.css");
  // div[aria-controls="delete-tab"] svg,
  // div[aria-controls="logout-tab"] svg,
  // div[aria-controls="discord-nitro-tab"] svg {
  //   display: none;
  // }
}

@mixin icon($icon, $color) {
  // background-image: url("https://img.icons8.com/material/50/#{$color}/#{$icon}.png");
  background-image: inline-image("./img/#{$color}/icons8-#{$icon}-50.png");
}

@mixin iconbtn($icon) {
  @if not $inline {
    margin-left: 5px;
    display: inline-block;
  }
  width: 32px;
  color: transparent !important;
  background: no-repeat center/24px;
  .theme-dark & {
    @include icon($icon, "b9bbbe");
    &:hover {
      @include icon($icon, "dcddde");
    }
    &:active,
    &.selected-g-kMVV {
      @include icon($icon, "ffffff");
    }
  }
  .theme-light & {
    @include icon($icon, "4f5660");
    &:hover {
      @include icon($icon, "2e3338");
    }
    &:active,
    &.selected-g-kMVV {
      @include icon($icon, "060607");
    }
  }
  // background-size: 24px;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-image: url("https://img.icons8.com/material/24/FFFFFF/#{$icon}.png");
  // background-image: url("./img/icons8-#{$icon}-50.png");
  border: none !important;
}

// Common
#{$tab}[data-item-id="pc-general"],
.bd-settings-tab,
#{$tab}[aria-controls="gm-settings-tab"] {
  @include iconbtn("settings");
}
#{$tab}[data-item-id="pc-moduleManager-plugins"],
#{$tab}[aria-controls="cumcord_plugins-tab"],
.bd-plugins-tab,
#{$tab}[aria-controls="gm-plugins-tab"] {
  @include iconbtn("puzzle");
}
#{$tab}[data-item-id="pc-moduleManager-themes"],
#{$tab}[aria-controls="ysink_stain-tab"],
.bd-themes-tab,
#{$tab}[aria-controls="gm-themes-tab"] {
  @include iconbtn("paint-brush");
}
.bd-customcss-tab,
#{$tab}[aria-controls="gm-custom-css-tab"] {
  @include iconbtn("paint");
}
#{$tab}[data-item-id="pc-emojiUtility"],
.bd-emotes-tab {
  @include iconbtn("happy");
}

// Powercord
#{$tab}[data-item-id="pc-updater"] {
  @include iconbtn("available-updates");
}
#{$tab}[data-item-id="pc-clickableEdits"] {
  @include iconbtn("edit");
}
#{$tab}[data-item-id="pc-hastebin"] {
  @include iconbtn("paste");
}
#{$tab}[data-item-id="pc-lmgtfy"] {
  @include iconbtn("google");
}
#{$tab}[data-item-id="pc-spotify"] {
  @include iconbtn("spotify");
}

// Cumcord
#{$tab}[aria-controls="ysink_zone_cumzone-tab"] {
  @include iconbtn("download");
}

// GooseMod
#{$tab}[aria-controls="gm-changelog-tab"] {
  @include iconbtn("activity-history");
}
#{$tab}[aria-controls="gm-snippets-tab"] {
  @include iconbtn("console");
}
#{$tab}[aria-controls="gm-fucklytics-tab"] {
  @include iconbtn("obscene-gesture");
}
